URxvt.scrollBar: false

URxvt.font: xft:Fira Mono:size=10
URxvt.antialias: true

! special
*.background: #282828
*.foreground: #EBDBB2

! black
*.color0: #282828
*.color8: #928374

! red
*.color1: #CC241D
*.color9: #FB4934

! green
*.color2: #98971A
*.color10: #B8BB26

! yellow
*.color3: #D79921
*.color11: #FABD2F

! blue
*.color4: #458588
*.color12: #83A598

! purple
*.color5: #B16286
*.color13: #D3869B

! aqua
*.color6: #689D6A
*.color14: #8EC07C

! gray
*.color7: #A89984
*.color15: #EBDBB2
